<!DOCTYPE html>
<html lang="en">
    <head>
        <title>udacity-miguelgazela Blog</title>

        <style>
            h1 {
                text-align: center;
            }

            h1>a {
                text-decoration: none;
                color: black;
            }

            .container {
                width: 960px;
                margin: 0 auto;
            }

            form>div + div {
                margin-top: 20px;
            }
    
        </style>
    </head>
    <body>
        <div class="container">
            <h1><a href="/blog">udacity-miguelgazela Blog</a></h1>
            <h4>new post</h4>
            <form action="" method="POST">
                <div>
                    <label for="">subject</label>
                    <br>
                    <input type="text" name="subject" value="{{subject}}">
                </div>
                <div>
                    <label for="">blog</label>
                    <br>
                    <textarea name="content" id="" cols="30" rows="10">{{content}}</textarea>
                </div>
                <div class="errors">{{error}}</div>
                <input type="submit">
            </form>
        </div>
    </body>
</html>